*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
}
#profile-heading {
    display: flex;
    justify-content: center;
    color: #858383;
}
#profile {
    display: flex;
    flex-direction: row;
    width: 900px;
    gap: 70px;
    margin: 20px auto;
    box-shadow: 5px 7px 5px 5px #858383;
    border-radius: 7px;
}
.picture {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 20px 10px;
}
.picture .detail {
    margin: 5px auto;
}
.detail p {
    margin-top: 15px;
    margin-bottom: 28px;
}
.picture img {
    max-width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}
#edit-btn {
    padding: 10px 17px;
    margin-top: 15px;
    background-color: #2020fe;
    color: white;
    border-radius: 7px;
    border: 1px solid #0b0b0b;
    cursor: pointer;    
}
#edit-btn:hover {
    background-color: #070798;
}
#resume-btn {
    padding: 10px 17px;
    margin-top: 15px;
    background-color: #fafafa;
    color: #07ff07;
    border-radius: 7px;
    border: 1px solid #07ff07;
    cursor: pointer;
}
#resume-btn:hover {
    background-color: #07ff07;
    color: #fafafa;
}

.details {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 10px 20px;
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.details p {
    margin: 0;
    display: contents;
}
.label {
    font-weight: bold;
}

/* form Section */
#form-section {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 78, 78, 0.1);
}
#form-heading{
    display: flex;
    justify-content: center;
    color: #7a7878;
}
form label {
    display: block;
    margin-top: 10px;
}
    
form input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
}
.save {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #1d822f;
    color: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #07ff07;
    cursor: pointer;
}